@()(implicit request: RequestHeader, flash: Flash)
<div class="container">
  <div class="pull-right">
    @*
    <select data-bind="value: $root.developerConsole.threshold">
      <option value="all">No Filter</option>
      <option data-divider="true"></option>
      <option value="debug" data-subtext="all captures">Debug</option>
      <option value="info" data-subtext="from alerts">Information</option>
      <option value="warn" data-subtext="from abnormal incidents">Warning</option>
      <option value="error" data-subtext="caused by exceptions">Error</option>
    </select>
    *@
    <div class="btn-group" data-toggle="buttons-checkbox" data-bind="template: { data: $root.developerConsole.threshold() }">
      @*
      <span class="badge number">133</span>
      *@
      <button type="button" class="btn typo-capital" data-bind="css: { active: $data == 'all' }, click: function(){ $root.developerConsole.threshold('all') }">All</button>
      <button type="button" class="btn typo-capital" data-bind="css: { active: $data == 'debug' }, click: function(){ $root.developerConsole.threshold('debug') }">Debug </button>
      <button type="button" class="btn typo-capital" data-bind="css: { active: $data == 'info' }, click: function(){ $root.developerConsole.threshold('info') }">Information</button>
      <button type="button" class="btn typo-capital" data-bind="css: { active: $data == 'warn' }, click: function(){ $root.developerConsole.threshold('warn') }">Warning</button>
      <button type="button" class="btn typo-capital" data-bind="css: { active: $data == 'error' }, click: function(){ $root.developerConsole.threshold('error') }">Error</button>
    </div>
  </div>
  <h1>Developer Console</h1>
  <table class="table table-hover" id="log">
    <thead>
      <tr>
        <td>Type</td>
        <td>Request URI</td>
        <td></td>
        <td></td>
        <td>Message</td>
        <td></td>
        <td>Requested At</td>
      </tr>
    </thead>
    <tbody data-bind="foreach: { data: logs, as: 'log' }">
      <tr data-bind="visible: ($root.developerConsole.threshold() == 'all' || $root.developerConsole.threshold() == log.threshold)">
        <td>
          <span data-bind="text: log.threshold"></span>
        </td>
        <td colspan="3" class="break">
          <span data-bind="text: log.uri"></span>
        </td>
        <td colspan="2">
          <span data-bind="text: log.message"></span>
          (<span data-bind="text: trace"></span>)
        </td>
        <td>
          <time data-bind="text: requestedAt" ago></time>
        </td>
      </tr>
      <tr data-bind="visible: ($root.developerConsole.threshold() == 'all' || $root.developerConsole.threshold() == log.threshold)">
        <td>
          <h5>Case #</h5>
          <span data-bind="text: $no"></span>
        </td>
        <td>
          <h5>Response Time</h5>
          <time data-bind="text: (acceptedAt-requestedAt)" ms></time>
        </td>
        <td>
          <h5>Process Time</h5>
          <time data-bind="text: (processedAt-acceptedAt)" ms></time>
        </td>
        <td>
          <h5>User Agent</h5>
          <span data-bind="text: userAgent"></span>
        </td>
        <td>
          <h5>IP Address</h5>
          <span data-bind="text: remoteAddress"></span>
        </td>
        <td>
          <h5>API Key</h5>
          <span data-bind="text: apiKey"></span>
        </td>
        <td class="break">
          <h5>StackTrace</h5>
          <span data-bind="text: stackTrace"></span>
        </td>
      </tr>
      @*
      <tr data-bind="visible: $expanded() === true">
        <td colspan="7" style="border: 0">
<pre class="language-javascript" style="text-indent: -16pt;"><code class="language-javascript" data-bind="text: JSON.stringify(ko.toJS($root.orderStatus.data()[$index()]), function(k,v){if(!k.startsWith('$')){return v}}, '  ')"></code></pre>
        </td>
      </tr>
      *@
    </tbody>
  </table>
  <div class="center loading" data-bind="visible: logs.length == 0">
    <i class="icon-refresh icon-spin"></i>
    <h2 class="bold">WE'RE RECEIVING DATA !</h2>
    <h5>Didn't see anything? You may configure log threshold for each keys.</h5>
    <a href="@routes.Pages.account(Application.getUrl, "/api-key")" class="btn">Configure</a>
  </div>
</div>