@()(implicit request: RequestHeader, flash: Flash)
<div class="container">
  <h1>API Usage</h1>
  <div class="row">
    <div class="span3">
      <h5 style="opacity:0.5">MEAN API RESPONSE TIME</h5>
      <h2>0ms</h2>
    </div>
    <div class="span4">
      
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span3">
      <h5 style="opacity:0.5">CONCURRENT REQUEST LOAD</h5>
      <h2>0</h2>
    </div>
    <div class="span4">
      
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span3">
      <h5 style="opacity:0.5">MEAN ORDER DELIVERY TIME</h5>
      <h2>0s</h2>
    </div>
    <div class="span4">
      
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span3">
      <h5 style="opacity:0.5">MEAN PICKUP DELIVERY TIME</h5>
      <h2>0s</h2>
    </div>
    <div class="span4">
      
    </div>
  </div>
</div>