@()(implicit request: RequestHeader, flash: Flash)

@single(Messages("title.account"))("white") {
  <meta name="panel" content="data">

  <div id="panel">
    @menu("account")
    <div id="submenu">
      <ul>
        <li data-bind="click: page.bind($data, 'usage'), css: { active: page() == 'usage'}">
          <span>API Usage</span>
          <p>Overview all requests today, this week, or last month.</p>
        </li>
        <li data-bind="click: page.bind($data, 'plans-and-billing'), css: { active: page() == 'plans-and-billing'}">
          <span>Plans and Billing</span>
          <p>See your current plan, update billing information to purchase.</p>
        </li>
        <li data-bind="click: page.bind($data, 'api-key'), css: { active: page() == 'api-key'}">
          <span>API Key Management</span>
          <p>Secure your application by issuing read-only key and revoking no more used keys.</p>
        </li>
        <a href="@routes.Users.signout"><li><span>Sign out</span> <i class="icon-signout icon-flip-horizontal"></i></li></a>
      </ul>
    </div>
    <div id="content" data-bind="">
      <div class="condensed" data-bind="visible: page() == ''"></div>
      <div class="condensed" data-bind="visible: page() == 'usage', template: { name: 'usage-template', data: usage.data(), if: usage.data() } "></div>
      <div class="condensed" data-bind="visible: page() == 'plans-and-billing', template: { name: 'plans-template', data: plansAndBilling.data(), if: plansAndBilling.data() } "></div>
      <div class="condensed" data-bind="visible: page() == 'api-key', template: { name: 'api-key-template', data: apiKey.data(), if: apiKey.data(), as: 'keys', afterRender: prepareComponents } "></div>
    </div>
    <script type="text/html" id="usage-template">@accountUsage()</script>
    <script type="text/html" id="plans-template">@accountPlansAndBilling()</script>
    <script type="text/html" id="api-key-template">@accountApiKey()</script>
  </div>
} 