@()(implicit request: RequestHeader, flash: Flash)
<div class="container">
  <div class="pull-right">
    <select>
      <option>All requests</option>
    </select>
  </div>
  <h1>Developer Console</h1>
  <table class="table table-hover" id="log">
    <thead>
      <tr>
        <td>Type</td>
        <td>Request URI</td>
        <td></td>
        <td></td>
        <td>Message</td>
        <td></td>
        <td width="100px">Requested At</td>
      </tr>
    </thead>
    <tbody data-bind="foreach: { data: logs, as: 'log' }">
      <tr>
        <td>
          <span data-bind="text: log.threshold"></span>
        </td>
        <td colspan="3">
          <span data-bind="text: log.uri"></span>
        </td>
        <td colspan="2">
          <span data-bind="text: message"></span>
          (<span data-bind="text: trace"></span>)
        </td>
        <td>
          <time data-bind="text: requestedAt" ago></time>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Case #</h5>
          <span data-bind="text: $no"></span>
        </td>
        <td>
          <h5>Response Time</h5>
          <time data-bind="text: (acceptedAt-requestedAt)" ms></time>
        </td>
        <td>
          <h5>Process Time</h5>
          <time data-bind="text: (processedAt-acceptedAt)" ms></time>
        </td>
        <td>
          <h5>User Agent</h5>
          <span data-bind="text: userAgent"></span>
        </td>
        <td>
          <h5>IP Address</h5>
          <span data-bind="text: remoteAddress"></span>
        </td>
        <td>
          <h5>API Key</h5>
          <span data-bind="text: apiKey"></span>
        </td>
        <td>
          <h5>StackTrace</h5>
          <span data-bind="text: stackTrace"></span>
        </td>
      </tr>
      @*
      <tr data-bind="visible: $expanded() === true">
        <td colspan="7" style="border: 0">
<pre class="language-javascript" style="text-indent: -16pt;"><code class="language-javascript" data-bind="text: JSON.stringify(ko.toJS($root.orderStatus.data()[$index()]), function(k,v){if(!k.startsWith('$')){return v}}, '  ')"></code></pre>
        </td>
      </tr>
      *@
    </tbody>
  </table>
  <div class="center loading" data-bind="visible: logs.length == 0">
    <i class="icon-refresh icon-spin"></i>
    <h2 class="bold">WE'RE RECEIVING DATA !</h2>
    <h5>Didn't see anything? You may configure log threshold for each keys.</h5>
    <a href="@routes.Pages.account(Application.getUrl, "/api-key")" class="btn">Configure</a>
  </div>
</div>