@(secretKey: String)(implicit request: RequestHeader, flash: Flash)
<div class="container" id="search" data-bind="with: $root.search">
  <p class="pull-right" id="secretKey">@secretKey</p>
  <h1>SEARCH</h1>
  <form data-bind="submit: query">
    <div class="input-append">
      <i class="icon-search"></i>
      <input name="q" type="text" data-bind="value: queries" class="input-block-level" />
      <button type="submit" class="btn" type="button">Search</button>
      <button class="btn" type="button" data-bind="click: refresh"><i class="icon-refresh"></i> Refresh</button>
      <button class="btn" type="button" data-bind="click: revert"><i class="icon-reply"></i> Revert</button>
    </div>
  </form>
  <h5><span data-bind="text: itemString">0 item</span> found in <span data-bind="text: responseTime">0</span>ms.</h5>
  <table class="table" data-bind="template: { name: template(), data: data, as: 'items', if: data() }"></table>
  <script type="text/html" id="model-template">
    <thead>
      <tr>
        <td>$no</td>
        <td>type</td>
        <td>$id</td>
        <td>json</td>
        <td>created at</td>
        <td>updated at</td>
        <td>referenced at</td>
      </tr>
    </thead>
    <tbody data-bind="foreach: items">
      <tr>
        <td><span data-bind="text: $no"></span></td>
        <td><span data-bind="text: $type"></span></td>
        <td><span data-bind="text: $id"></span></td>
        <td data-bind="foreach: Object.keys($data)"> <span data-bind="text: $data, visible: !$data.startsWith('$')" class="label label-inverse"></span> </td>
        <td><time ago data-bind="text: $createdAt"></time></td>
        <td><time ago data-bind="text: $updatedAt"></time></td>
        <td><time ago data-bind="text: $referencedAt"></time></td>
      </tr>
    </tbody>
  </script>
  <script type="text/html" id="status-template">
    <thead>
      <tr>
        <td style="width: 30%;">subject</td>
        <td style="width: 10%; text-align: center;">verb</td>
        <td style="width: 30%;">object</td>
        <td style="width: 10%; text-align: center;">json</td>
        <td style="width: 10%;">created at</td>
        <td style="width: 10%;">updated at</td>
      </tr>
    </thead>
    <tbody data-bind="foreach: items">
      <tr>
        <td>
          <span data-bind="text: $subject.$type"></span>
          <strong><span data-bind="text: $subject.$id"></span><span data-bind="text: $subject.$no, visible: $subject.$id.length == 0"></span></strong>
          <button class="btn btn-mini pull-right" style="font-size: 9pt" data-bind="click: function($data){ var _ = $data.$subject.$expanded; _(!_()) }">&nbsp;<i data-bind="css: { 'icon-caret-down': $subject.$expanded() === false, 'icon-caret-up': $subject.$expanded() === true }"></i>&nbsp;</button>
<pre class="language-javascript" data-bind="visible: $subject.$expanded() === true" style="text-indent: -16pt;"><code class="language-javascript" data-bind="html: JSON.stringify($subject, function(k,v){if(k!='$type')return v;}, '  ')"></code></pre>
        </td>
        <td style="text-align: center;"><span data-bind="text: $verb"></span></td>
        <td>
          <span data-bind="text: $object.$type"></span>
          <strong><span data-bind="text: $object.$id"></span><span data-bind="text: $object.$no, visible: $object.$id.length == 0"></span></strong>
          <button class="btn btn-mini pull-right" style="font-size: 9pt" data-bind="click: function($data){ var _ = $data.$object.$expanded; _(!_()) }">&nbsp;<i data-bind="css: { 'icon-caret-down': $object.$expanded() === false, 'icon-caret-up': $object.$expanded() === true }"></i>&nbsp;</button>
<pre class="language-javascript" data-bind="visible: $object.$expanded() === true" style="text-indent: -16pt;"><code class="language-javascript" data-bind="html: JSON.stringify($object, function(k,v){if(k!='$type')return v;}, '  ')"></code></pre>
        </td>
        <td style="text-align: center;" data-bind="foreach: Object.keys($data)"> <span data-bind="text: $data, visible: !$data.startsWith('$')" class="label label-inverse"></span> </td>
        <td><time ago data-bind="text: $createdAt"></time></td>
        <td><time ago data-bind="text: $updatedAt"></time></td>
      </tr>
    </tbody>
  </script>
</div>