@()(implicit request: RequestHeader, flash: Flash)

@landing(Messages("title.terms")) {

<div id="toc" class="navbar navbar-static">
  <div class="navbar-inner">
    <div class="container" style="">
      <ul class="nav navbar-nav">
        <li><a href="#_overview">Overview</a></li>
        <li><a href="#_basic-api">Basic API</a></li>
        <li><a href="#_routes-for-model">Routes for Model</a></li>
        <li><a href="#_status">Status</a></li>
        <li><a href="#_routes-for-status">Routes for Status</a></li>
        <li><a href="#_api_libraries">API Libraries</a></li>
        <li><a href="#_use_cases">Use Cases</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="featurette" style="text-align:center">
    <h2 class="typo-capital bold">DOCUMENTATION</h2>
    <br />
    <hr style="width: 150px;border: solid 3px #1ABC9C; margin: 0 auto;" />
    <br />
  </div>
</div>
<div id="documentation">
  <div id="_overview" class="container">
    <h3>OVERVIEW</h3>
    <h4>We're focused on fast development, and simple deployment.</h4>
    <p>
      Mintpresso is really nice especially for the team and developer who:
      <ul>
        <li>wants to log various numbers growing every seconds.</li>
        <li>wants to save and load data without coding server side script.</li>
        <li>needs to do cache as soon as possible without any extra configuration.</li>
        <li>needs a scalable architecture like Amazon cloud.</li>
        <li>wants to visualize how many users are active or photos are posted right now.</li>
        <li><strong>plans to do item/user recommendation as soon as possible. We're the best.</strong></li>
        <li>plans to operate mission critical system like complex event processing or audit monitoring, predictive analysis.</li>
      </ul>
    </p>
    <p>
      If you're trying to solve a domain specific problem, check these: <a href="http://loggly.com">Loggly</a> for system log, <a href="https://mixpanel.com">Mixpanel</a> for customer analytics, and <a href="http://newrelic.com/">New Relic</a> for server monitoring.
    </p>
  </div>

  <hr />

  <div class="container">
    <div class="row">
      <div class="span6">
        <h3>APP SERVER</h3>
        <p>
        https://app.mintpresso.com
        </p>
      </div>
      <div class="span6">
        <h3>PAGES</h3>
        <p>
        https://mintpresso.com
        </p>
      </div>
    </div>
  </div>

  <hr />

  <div id="_basic-api" class="container">
    <div class="row">
      <div class="span6">
        <h1 class="bold">Basic API</h1>
        <br />
        <h3>Everything is JSON and RESTful</h3>
        <p>
          All operations can be done with <span class="label label-inverse">GET</span>
          <span class="label label-inverse">POST</span>
          <span class="label label-inverse">PUT</span>
          <span class="label label-inverse">DELETE</span>.
        </p>
        <p>
          All requests by <span class="label label-inverse">POST</span>.
          and <span class="label label-inverse">PUT</span> must set <code class="">Content-Type: application/json</code>.
        </p>
        <p>
          All responses from <span class="label label-inverse">GET</span> must have pure JSON.
        </p>
        <p>
          All responses from <span class="label label-inverse">DELETE</span> must not have any body.
        </p>
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="span6">
        <h3>Request Example</h3>
        <p>Let's find name of some user with email address.</p>
        <br />
        <br />
        <p>You can see the response is JSON and wrapped by key.</p>
        <p>We called it <strong>a model</strong>. A model contains type, unique id, unique no, and data fields.</p>
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
      <div class="span6">
  <pre><code class="http">
  GET /user/support@@mintpresso.com?apikey=public__43b62b5dd0ce945ab7 HTTP/1.1

  </code></pre>
  <pre><code class="javascript">
  {
    "user" : {
      "$no" : 1500,
      "$id" : "support@@mintpresso.com",
      "name": "Mintpresso"
    }
  }

  </code></pre>
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="span6">
        <h3>Request/Response Example</h3>
        <p>Let's add some music.</p>
        <p>All you need to do is put wrapped json to request body.</p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <p>You can see $no is newly created, $id is optional, and dates are automatically created.</p>
      </div>
      <div class="span6">
  <pre><code class="http">
  POST /music?apikey=public__43b62b5dd0ce945ab7 HTTP/1.1
  Host: app.mintpresso.com
  Content-Type: application/json; charset=utf-8
  Content-Length: 82

  {
    "music": {
      "title" : "When Will My Life Begin?",
      "artist": "Mandy Moore"
    }
  }
  </code></pre>

  <pre><code class="javascript">
  201 Created

  {
    "music": {
      "$no": 1501,
      "$id": ""
      "title" : "When Will My Life Begin?",
      "artist": "Mandy Moore",
      "$createdAt": 1377613096826,
      "$updatedAt": 1377613096826,
      "$referencedAt": 1377613096826
    }
  }

  </code></pre>
      </div>
    </div>

    <hr />
    <div id="_routes-for-model" class="row">
      <div class="span6">
        <h3>Routes for Model</h3>
        <h4>Find one model by no.</h4>
        <p>type: String, no: Number</p>
        <p>
          <span class="label label-inverse">200</span> Ok &nbsp;&nbsp;
          <span class="label label-inverse">404</span> Not Found &nbsp;&nbsp;
        </p>
        <br />
        <br />
        <br />
        <h4>Find one model by id.</h4>
        <p>type: String, id: String</p>
        <p>
          <span class="label label-inverse">200</span> Ok &nbsp;&nbsp;
          <span class="label label-inverse">404</span> Not Found &nbsp;&nbsp;
        </p>
        <br />
        <br />
        <h4>Find one model by json condition.</h4>
        <div class="row">
          <div class="span3">
            <p>type: String, json: JsArray</p>
          </div>
          <div class="span3">
          </div>
        </div>
        <p>In this case, models qualified that confirmed is true and subscription is Pro will be in a response. </p>
        <p>
          <span class="label label-inverse">200</span> Ok &nbsp;&nbsp;
          <span class="label label-inverse">400</span> Invalid Json &nbsp;&nbsp;
          <span class="label label-inverse">404</span> Not Found &nbsp;&nbsp;
        </p>
        <br />
        <br />
        <br />
        <h4>Add new model</h4>
        <p>type: String, json: JsObject</p>
        <p>Json object must be wrapped by type. $id is optional, as well as empty string will be treated as nothing like null. If $id is conflict, the operation is cancelled and return 409 Conflict. You can construct any data form in model, but we recommend less than 2 depths. For example, <code>"urls": [ { "host": "..." } ]</code> is still okay and it's all. As the keyword 'some' is reserved, you can't use 'some' as $id.</p>
        <p>
          <span class="label label-inverse">200</span> Ok &nbsp;&nbsp;
          <span class="label label-inverse">400</span> Invalid Json &nbsp;&nbsp;
          <span class="label label-inverse">404</span> Not Found &nbsp;&nbsp;
          <span class="label label-inverse">409</span> Conflict &nbsp;&nbsp;
        </p>
        <br />
        <br />
        <br />
        <h4>Update a model</h4>
        <p>type: String, no: Number </p>
        <p>Json object must be wrapped by type and contain $id and $no. This operation doesn't change $no and will renew $updatedAt.</p>
        <p>
          <span class="label label-inverse">200</span> Ok &nbsp;&nbsp;
          <span class="label label-inverse">400</span> Invalid Json &nbsp;&nbsp;
          <span class="label label-inverse">404</span> Not Found &nbsp;&nbsp;
          <span class="label label-inverse">409</span> Conflict &nbsp;&nbsp;
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h4>Delete a model</h4>
        <p>type: String, no: Number </p>
        <p>This operation will also remove all of any(subject, object) related status of the model. 204 No Content will be returned if the model to be deleted isn't exist; whatever deletion is done anyway.</p>
        <p>
          <span class="label label-inverse">203</span> Accepted &nbsp;&nbsp;
          <span class="label label-inverse">204</span> No Content &nbsp;&nbsp;
        </p>
      </div>
      <div class="span6">
  <br />
  <br />
  <pre><code class="ruby">
  GET     /:type/:no
  GET     /user/1000

  </code></pre>
  <br />
  <pre><code class="ruby">
  GET     /:type/:id
  GET     /user/support@@mintpresso.com

  </code></pre>
  <br />
  <pre><code class="ruby">
  GET     /:type
  GET     /user?json=[{"confirmed": true}, {"subscription": "Pro"}]

  </code></pre>
  <br />
  <br />
  <br />
  <pre><code class="ruby">
  POST    /:type
  POST    /user

  { "user" : {
      "$id": "support@@mintpresso.com"
    }
  }

  </code></pre>
  <br />
  <pre><code class="ruby">
  PUT     /:type/:no
  PUT     /user/1000

  { "user" : {
      "$no": 1000
      "$id": "support@@mintpresso.com"
    }
  }

  </code></pre>
  <br />
  <pre><code class="ruby">
  DELETE  /:type/:no
  DELETE  /user/1000

  </code></pre>
      </div>
    </div>
    
    <hr />
    <div id="_status" class="row">
      <div class="span6">
        <h1 class="bold">Status</h1>
        <h3>This is subject + verb + object</h3>
        <p>
          Every status has three parts: subject model, verb string and object model. This is opt for store and express relationship between two models as simple as you can. Let's see examples
          <ul>
            <li>User reads Post</li>
            <li>User views Page</li>
            <li>User support@@mintpresso.com listens Music</li>
            <li>User support@@mintpresso.com starred Music "Moon River"</li>
            <li>User listens { count: 53 } Music 1000</li>
            <li>User follows User</li>
            <li>Who follows User support@@mintpresso ?</li>
            <li>User support@@mintpresso follows whom ?</li>
          </uL>
        </p>
        <p>
          Because status is consist of s+v+o, you can query to find subject candidates by object and verb. For example, if you want to find who follows you, <code>user(?) + "follow" + user($id)</code> can retreive exactly what you want. $id and $no both can be used for this operations.
        </p>
        <p>
          Kind of confusing? don't worry, take a breath and see below intuitive APIs we prepared.
        </p>
      </div>
      <div class="span6">
      <br />
      <br />
      <br />
<pre><code class="ruby">
GET  /user/james/read/post/20-ways-to-be-successful

GET  /user/james/read/some/post

</code></pre>
      </div>
    </div>

    <hr />
    <div id="_routes-for-status" class="row">
      <div class="span6">
        <h3>Routes for Status</h3>

        <h4>Find one status by subject $no, verb and object $no.</h4>
        <p>subjectNo: Number, verb: String, objectNo: Number</p>
        <p>
          <span class="label label-inverse">200</span> Ok &nbsp;&nbsp;
          <span class="label label-inverse">404</span> Not Found &nbsp;&nbsp;
        </p>
        <br />
        <br />
        <br />
        <br />
        <p>
          $subject and $object are a type of model. Unlike model API, they aren't wrapped by their type string.
          <code>"count": 53</code> is one of custom data field which are at the same level with $verb.
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <h4>Find one status by subject $id, verb and object $id.</h4>
        <p>subjectId: String, verb: String, objectId: String</p>
        <p>
          <span class="label label-inverse">200</span> Ok &nbsp;&nbsp;
          <span class="label label-inverse">404</span> Not Found &nbsp;&nbsp;
        </p>
        <br />
        <br />

        <h4>Search all status by subject type, verb and object type.</h4>
        <p>subjectType: String, verb: String, objectType: String</p>
        <p>
          <span class="label label-inverse">200</span> Ok &nbsp;&nbsp;
          <span class="label label-inverse">200</span> Empty &nbsp;&nbsp;
          <span class="label label-inverse">404</span> Not Found &nbsp;&nbsp;
        </p>
        <br />
        <br />
        <br />
        <br />
        <p>Each status are wrapped into Json Array. This operation is designed for searching that usually results 0 item or many, so it always returns 200 Ok. Of course, you're able to check the length of array to determine a search result is empty or not. 404 Not Found will be returned if subject or object model isn't exists.</p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <h4>COMBINATIONS</h4>
        <div style="padding-left:30px;">
          <h4>Search all status by subject $no, verb and object type.</h4>
          <p>'some' isn't such a type. It means just something unknown. You better understand that you're looking for some user, music, or post. The only purpose of a keyword 'some' is to solve conflict with $id string.</p>
          <p>subjectNo: Number, verb: String, objectType: String</p>
          <p>
            <span class="label label-inverse">200</span> Ok&nbsp;&nbsp;
            <span class="label label-inverse">200</span> Empty&nbsp;&nbsp;
            <span class="label label-inverse">404</span> Not Found&nbsp;&nbsp;
          </p>
          <br />
          <br />

          <h4>Search all status by subject type, verb and object $no.</h4>
          <p>subjectType: String, verb: String, objectNo: Number</p>
          <p>
            <span class="label label-inverse">200</span> Ok &nbsp;&nbsp;
            <span class="label label-inverse">200</span> Empty&nbsp;&nbsp;
            <span class="label label-inverse">404</span> Not Found&nbsp;&nbsp;
          </p>
          <br />
          <br />

          <h4>Search all status by subject $id, verb and object type.</h4>
          <p>subjectType: String, verb: String, objectType: String</p>
          <p>
            <span class="label label-inverse">200</span> Ok &nbsp;&nbsp;
            <span class="label label-inverse">200</span> Empty&nbsp;&nbsp;
            <span class="label label-inverse">404</span> Not Found&nbsp;&nbsp;
          </p>
          <br />

          <h4>Search all status by subject type, verb and object $id.</h4>
          <p>subjectType: String, verb: String, objectType: String</p>
          <p>
            <span class="label label-inverse">200</span> Ok &nbsp;&nbsp;
            <span class="label label-inverse">200</span> Empty&nbsp;&nbsp;
            <span class="label label-inverse">404</span> Not Found&nbsp;&nbsp;
          </p>
        </div>
        <br />
        <br />
        <br />
        <br />

        <h4>Add new status.</h4>
        <p>subjectType: String, subject: String | Number, verb: String, objectType: String, object: String | Number</p>
        <p>$id or $no both can be placed in subject and/or object field. 422 Unprocessable Entity will be returned if subject or object model isn't exists.</p>
        <p>
          <span class="label label-inverse">201</span> Created &nbsp;&nbsp;
          <span class="label label-inverse">400</span> Invalid Json &nbsp;&nbsp;
          <span class="label label-inverse">422</span> Unprocessable Entity &nbsp;&nbsp;
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <h4>Delete a status</h4>
        <p>statusNo: Number</p>
        <p>This operation is for undo when some user pressed a button by mistake so wants to rollback in a few seconds. Implementation of 'unlike' action for 'like'd status should not use this operation. We recommend you to simply add new status with data <code>{ value: false }</code>. 204 No Content will be returned if the edge to be deleted isn't exist; whatever deletion is done anyway.</p>
        <p>
          <span class="label label-inverse">203</span> Accepted &nbsp;&nbsp;
          <span class="label label-inverse">204</span> No Content &nbsp;&nbsp;
        </p>
        <br />

      </div>
      <div class="span6">
<br />
<br />
<pre><code class="ruby">
GET     /:subjectType/:subjectNo/:verb/:objectType/:objectNo
GET     /user/1000/like/photo/201

</code></pre>
<pre><code class="ruby">
200 Ok

{
  "$no": 23039109
  "$subject": {
    "$no": 1000,
    "$id": "jin"
  },
  "$verb": "like",
  "count": 53,
  "$object": {
    "$no": 3000,
    "$id": "",
    "photo_url": "https://cdn.mintpresso.com/a/330239.png" 
  },
  "$createdAt": 1377700751487,
  "$updatedAt": 1377700751487
}

</code></pre>
<br />
<pre><code class="ruby">
GET     /:subjectType/:subjectId/:verb/:objectType/:objectId
GET     /user/jimmy/like/post/introducing-new-accelerators

</code></pre>
<br />
<pre><code class="ruby">
GET     /:subjectType/:verb/:objectType
GET     /user/flag-as-spam/post
GET     /user/report/post

</code></pre>
<pre><code class="ruby">
200 Ok

[
  {
    "$no": ...,
    "$subject": { ... },
    "$verb": ...,
    "$object": { ... },
    "$createdAt": ...,
    "$updatedAt": ...
  },
  
  ...

  { 
    ...
  }
]

</code></pre>
<br />
<br />
<br />
<pre><code class="ruby">
GET     /:subjectType/:subjectNo/:verb/some/:objectType
GET     /user/1000/like/some/post

</code></pre>

<br />
<br />
<br />
<br />
<br />
<pre><code class="ruby">
GET     /some/:subjectType/:verb/:objectType/:objectId
GET     /some/user/listen/music/2000

</code></pre>
<br />
<pre><code class="ruby">
GET     /:subjectType/:subjectNo/:verb/some/:objectType
GET     /user/daniel/like/some/post

</code></pre>
<br />
<pre><code class="ruby">
GET     /some/:subjectType/:verb/:objectType/:objectId
GET     /some/user/listen/music/Stardust

</code></pre>
<br />
<br />
<br />
<pre><code class="ruby">
POST    /:subjectType/:subject/:verb/:objectType/:object
POST    /user/1000/listen/music/2000
POST    /user/1000/listen/music/Moon+River
POST    /user/jin/listen/music/2000
POST    /user/jin/listen/music/Moon+River

{ "device": "mobile" }

</code></pre>
<pre><code class="ruby">
201 Created

{
  "$no": 23039109
  "$subject": {
    "$no": 1000,
    "$id": "jin"
  },
  "$verb": "listen",
  "$object": {
    "$no": 2000,
    "$id": "Moon River"
    "streaming_url": "https://secure-a.vimeocdn.com/p/flash/moogaloop/5.2.55/moogaloop.swf?v=1.0.0" 
  },
  "$createdAt": 1377700751487
  "$updatedAt": 1377700751487
}

</code></pre>
<br />
<pre><code class="ruby">
DELETE  /status/:no
DELETE  /status/23039109

</code></pre>
      </div>
    </div>

    <hr />
    <div id="_api_libraries" class="row">
      <div class="span6">
        <h3>Third party Clients &amp; Libraries</h3>
        <p>
          Though we're working hard to make things simple, there are many nice and tidy mintpresso clients for various languages. All of them are full of elegant code and extremely easy to use. Please check out these libraries.
          @*note that every new features come out are available instantly on RESTful API but 3rd library doesn't because they need to patch and support.
          *@
        </p>
        <h4>JavaScript API</h4>
        <h4>CoffeeScript API</h4>
        <h4>Java API</h4>
        <h4>Scala API</h4>
        <h4>Play Framework API</h4>
        <h4>PHP API</h4>
        <h4>Python API</h4>
        <h4>Shell Client</h4>
      </div>
      <div class="span6">
<pre><code class="javascript">
var user = {
  user: {
    $id: 'support@@mintpresso.com',
    name: 'Paul'
  }
}
mintpresso.post(user, function(response, status, xhr){
  if(status == 201){
    console.log('Added')
  }
}

mintpresso.post({
  user: {
    $id: 'support@@mintpresso.com',
    name: 'Paul'
  }
}, function(response, status, xhr){
  if(status == 201){
    console.log('Added')
  }
}

mintpresso.get('/user/support@@mintpresso.com', function(data, status, xhr){
  // it will show 'Username is Paul'
  console.log('Username is ' + data.user.name)
});

mintpresso('/user/support@@mintpresso.com').get(function(data, status, xhr){
  console.log(data)
})

</code></pre>

<pre><code class="coffeescript">

mintpresso.post {
  user:
    $id: 'support@@mintpress.com'
    name: 'Paul'
}, (data, status) ->
  console.log 'Added' if status is 201

mintpresso.get '/user/support@@mintpresso.com', (data, status) ->
  console.log 'Username is ' + data.user.name

</code></pre>
      </div>
    </div>
    
    <hr />
    <div id="_use_cases" class="row">
      <div class="span6">
        <h3>Use Cases</h3>
        <h4>Counting active users</h4>
        <h4>Using statistic result directly</h4>
        <h4>Item recommendation (suggests attractive product)</h4>
        <h4>User recommendation (suggests closer friends)</h4>
        <h4></h4>
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</div>

@footer()
}