@(title: String)(content: Html)(implicit request: RequestHeader, flash: Flash)

@active(menu: String) = @{
  if(title.contains(menu)){
    "active"
  }else{
    ""
  }
}
@main(title) {
<header>
  <div class="container">
    <div class="row">
      <div class="span6 left">
      <a href="@routes.Application.index" class="logotype">MINTPRESSO</a>
      </div>
      <div class="span6 right">
        <a href="@routes.Application.index">HOME</a>
        <a href="@routes.Application.features">FEATURES</a>
        <a href="@routes.Application.plans">PRICING</a>
        <a href="@routes.Application.faq">FAQ</a>
        @Application.getOptionUser.map { user =>
        <a href="@routes.Application.signin" class="btn btn-large">Go to Pages (@user.name)</a>
        }.getOrElse{
        <a href="@routes.Application.signin" class="btn">SIGN IN</a>
        }
      </div>
    </div>
  </div>
</header>

@content

} {
  <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
  <style>
    body { background-image: none; }
  </style>
} {
  <script src="@routes.Assets.at("javascripts/landing.js")"></script>
}