@()(implicit request: RequestHeader, flash: Flash)

@main(Messages("title.login")) {

<div id="single-page" class="black hide">
  <form class="" action="@routes.Users.signin" method="POST">
    <div class="modal">
      <div class="modal-header" style="text-align: center; padding: 30px 0;">
        <a href="@routes.Application.index"><img src="@routes.Assets.at("images/logotype-green-h@2x.png")" style="width: 50%; margin-right: 30px;" /></a>
      </div>
      <div class="modal-body">
        <fieldset>
          <div style="text-align: center">
            <input type="email" name="email" placeholder="Email Address" value="@flash.get("email")" />
            <input type="password" name="password" placeholder="Password" />
            <input type="hidden" name="redirect_url" value="@flash.get("redirect_url").getOrElse("")" />
            <span class="help-block">
              @flash.get("error").map { message =>
                @message
              }
              @flash.get("msg").map { message =>
                @message
              }.getOrElse {
                <a href="#">Forgot your account or password?</a>
              }
            </span>
          </div>
          <div style="text-align: right; ">
            @*
            <label class="checkbox">
              <input type="checkbox"> Remember me for 2 weeks
            </label>
            *@
          </div>
        </fieldset>
      </div>
      <div class="modal-footer">
        <a href="@routes.Application.index" class="btn btn-default pull-left">Create new account</a>
        <button type="submit" class="btn btn-success">Sign in</button>
      </div>
    </div>
  </form>
</div>

<div id="animation-mask" class="black" style="width: 100%; height: 100%;">
  <div id="logo" class="hide black"></div>
</div>
<div class="single-page-footer black">
@footer()
</div>

} {
  <link href="/assets/stylesheets/main.css" rel="stylesheet">
  <meta name="animation" content="fadein" />
} {
  <script src="/assets/javascripts/main.js"></script>
  <script>

@if(!flash.get("retry").getOrElse("").startsWith("true")){
  _.waitForLoading = true
  setTimeout(function(){
    _.waitForLoading = false
  }, 1000)
  @*
  @if(title.endsWith("Pages >")){
    _.waitForLoading = true
  }
  *@
}
  </script>
}