@()(implicit request: RequestHeader, flash: Flash)

@landing(Messages("title.overview")) {

<div id="landing">
  <div class="container">
    <div class="row">
      <div class="span8 left">
        <h1>Explore data, Grow fast</h1>
        <h2>Awesome storage, data management, realtime recommendation, and practical integration for your web service, product or business.
        @*
        <br />Need more concurrent jobs? <a href="#">Upgraded plans start at $7/mo</a>
        *@
        </h2>
      </div>
      <div class="span3 offset1 right">
      @Application.getOptionUser.map { user =>
        <a href="#" class="btn btn-large btn-success btn-block">See Documentation</a>
      }.getOrElse{
        <form action="@routes.Users.signup" method="post" data-bind="submit: signup">
          <input type="text" name="username" data-bind="value: username" placeholder="Pick an username" class="input-block-level" required />
          <br />
          <input type="email" name="email" data-bind="value: email" placeholder="Your email to logged in" class="input-block-level" required />
          <br />
          <input type="password" name="password" data-bind="value: password" placeholder="Create a password" class="input-block-level" required />
          <br />
          <button type="submit" data-bind="html: signupButton" class="btn btn-large btn-success btn-block">Sign Up for MINTPRESSO</button>
          <br />
          <p class="left transparent">
          By clicking "Sign Up for MINTPRESSO", you agree to our <a href="#">terms of service</a> and <a href="#">privacy policy</a>.
          </p>
        </form>
      }
      </div>
    </div>
  </div>
</div>

<div class="featurette" style="text-align:center">
  <h2 class="typo-capital bold">WHY YOU'LL LOVE MINTPRESSO</h2>
  <br />
  <hr style="width: 150px;border: solid 3px #1ABC9C; margin: 0 auto;" />
  <br />
</div>

<div class="container">
  <div id="trifold" class="row icons center">
    <div class="span4">
      <i class="icon-rocket img-circle" style=""></i>
      <h3>Fast prototyping for startups and learn everyday.</h3>
      <h4>Collect and log everything from your product via simple HTTP request. Automatically-organized dataset is great to provide statistics, recommendation, or even as a primary database in production.</h4>
    </div>
    <div class="span4">
      <i class="icon-cloud img-circle"></i>
      <h3>Get rid of database management and its fixed costs.</h3>
      <h4>Forget about scheme evolution, data migration, job queue and server configuration. Bring new features, log more, build user ranking and server scale-up everyday without a hustle.</h4>
    </div>
    <div class="span4">
      <i class="icon-tasks img-circle"></i>
      <h3>Integrate any personalized data in less than 5 minutes</h3>
      <h4>Simply place your order in Pages and pickup the result by private cached url, or make it send push notification, a callback request to your server. Only properly served data will be charged.</h4>
    </div>
  </div>
</div>

<hr />

<div class="featurette" style="text-align:center">
  <h2 class="typo-capital bold">THE WORLD'S AWESOME MANAGEMENT PAGES</h2>
  <br />
  <hr style="width: 150px;border: solid 3px #1ABC9C; margin: 0 auto;" />
  <br />
  <h3 class="typo-capital light">FOCUSED ON TASTE OF DEVELOPERS</h3>

  <br />
  <br />
  <br />
  <img src="http://dribbble.s3.amazonaws.com/users/40433/screenshots/1029018/small.png" class="image img-rounded" />
</div>

@footer()
}