@(title: String)(color: String)(content: Html)(implicit request: RequestHeader, flash: Flash)
@main(title) {
<div id="single-page" class="@color @if(color!="white"){hide}">
@content
</div>

} {
  <link href="/assets/stylesheets/main.css" rel="stylesheet">
  <meta name="animation" content="fadein" />
} {
  <script src="/assets/javascripts/main.js"></script>
  <script>

@if(!flash.get("retry").getOrElse("").startsWith("true")){
  @if(title.startsWith("Sign in")){
    _.waitForLoading = true
    setTimeout(function(){
      _.waitForLoading = false
    }, 1300)
  }
  @if(title.endsWith("Pages >")){
    _.waitForLoading = true
  }
}
  </script>
}